@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


/* $fuentePrincipal: font-family: 'Raleway', sans-serif;
$fuenteSecundaria: font-family: 'Cinzel Decorative', cursive;
$fuenteNumeros: font-family: 'Mulish', sans-serif;
 */

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: #1b191942;
    left: 35%;
    position: fixed;
    top: 2rem;
    width: 25%;
    z-index: 1111;

}

.imgnav {
    padding: 5px;
    border: 1px #ffffff solid;

}


.paralax {
    background-image: url("../images/anambra.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    animation: puff-in-center 0.9s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}


.titulos {
    font-family: 'Cinzel Decorative', cursive;
}

.anambramobile {
    display: none;
}

.parrafo {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.sectionProductos {
    background-color: #F4E5DD;
}

.card {
    margin-left: 22px;
    margin-right: 22px;
    background-color: #F4E5DD;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadrado {
    height: 220px;
    width: 220px;
    background-color: #862a2a;
    margin: 5px;
    border: solid 1px #1B1919;
}

.card-text {
    background-color: #1B1919;
    color: #ffffff;
    padding: 8px;
    transform: translateY(-40px);
    font-family: 'Raleway', sans-serif;
}

.textoInsta {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    padding: 22px;
    margin-bottom: 40px;
    color: #1B1919;
}


.textoInsta:hover {
    color: #1B1919;
}

.img {
    background-color: #862a2a;
    width: 100%;
    height: 420px;
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.sectionContacto {
    padding: 40px;
}

.cardcontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactoText {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

.fuenteNumeros {
    font-family: 'Mulish', sans-serif;
}

footer {
    font-family: 'Raleway', sans-serif;
    background-color: #1B1919;
    color: #ffffff;
}

@media screen and (max-width: 768px) {

    header {
        left: 2px;
        position: fixed;
        top: 6px;
        width: 16%;
    }

    .paralax {
        display: none;

    }

    .decoanambra {
        display: none;
    }

    .anambramobile {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: 100px;
        margin-bottom: 50px;
        animation: puff-in-center 0.9s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

    }

    @keyframes puff-in-center {
        0% {
            transform: scale(2);
            filter: blur(4px);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            filter: blur(0px);
            opacity: 1;
        }
    }

    .decomobile {
        width: 380px;
    }

    .quienesomos {
        display: flex;
        justify-content: center;
        padding: 12px;
    }

    .parrafo {
        text-align: center;
    }

    .encontramas {
        text-align: center;
    }

    .img {
        width: 100%;
        height: 420px;
        background-image: url("../images/imgmobile.jpg");
        background-attachment: unset;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 50px;
    }

    .footer1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .footertext {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 12px;
    }
}